@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

body { margin: 0; }

#retroboard {
  $color0: #FFAA6D;
  $color1: #E864E6;
  $color2: #6E99FF;
  $color3: #58E890;
  $color4: #FFF661;

  $color5: darken($color0, 30%);
  $color6: darken($color1, 30%);
  $color7: darken($color2, 30%);
  $color8: darken($color3, 30%);
  $color9: darken($color4, 30%);
  
  $grey: #dddddd;
  $main-text-color: #2d2d2d;
  $main-text-font: 'Open Sans', sans-serif;
  $condensed-font: 'Open Sans Condensed', sans-serif;

  color: $main-text-color;
  font-family: $main-text-font;

  @mixin flex-box-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  @mixin transitions {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  @mixin condensed-text {
    font-family: $condensed-font;
    text-transform: uppercase;
  }

  @mixin unselectable-text {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
  }

  @mixin color-swap($color) {    
    h1 { border-bottom: 3px solid $color; }

    .note-wrapper {
      background: white;
      border: 2px solid $color;
      border-top: 25px solid $color;

      .delete-note:hover, .vote:hover {
        background: $color;
        color: darken($color, 30%);
      }      
    }

    .delete-column {
      color: darken($color, 30%);
      background: $color;
    }
  }

  #create-column {
    background: $main-text-color;
      
    input {
      border: 1px solid $grey;
      color: lighten($main-text-color, 20%);
      font-size: 1em;
      line-height: 1.35em;
      margin: 10px 4%;
      padding: 10px;
      width: 46%;
      @media all and (max-width: 800px) { width: 92%; } // Small Size Screens
    }
    
    .add-column { display: none; }
  }

  #columns {
    @include flex-box-row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 92%;

    .column {
      justify-content: space-around;
      margin: 1% 1% 50px 1%;
      width: 23%;
      @media all and (max-width: 1000px) { width: 31%; } // Medium Size Screens
      @media all and (max-width: 800px) { width: 48%; } // Small Size Screens
      @media all and (max-width: 500px) { width: 98%; } // Mobile
      
      h1 { @include condensed-text; }

      .add-note {
        @include transitions;
        @include condensed-text;
        @include unselectable-text;
        background: $grey;
        color: darken($grey, 20%);
        cursor: pointer;
        padding: 5px;
        text-align: center;
        &:hover { color: darken($grey, 40%); }
      }

      textarea#new-note {
        color: lighten($main-text-color, 20%);
        border: 2px solid $grey;
        font-family: $main-text-font;
        font-size: 1em;
        height: 100px;
        line-height: 1.35em;
        margin: 0px;
        padding: 10px;
        resize: none;
        width: 100%;
      }

      .note-wrapper {
        margin: 15px auto;
        width: 100%;
        
        .note-content {
          p {
            margin: 1em 1em 1.5em;
          }
          
          .edit-note-button {
            display: none;
          }
        }
        textarea.edit-content-input {
          color: $main-text-color;
          font-size: 1em;
          font-weight: 400;
          line-height: 1.35em;
          margin: 1em 5%;
          min-height: 75px;
          width: 90%;
        }
      }
      
      .vote-delete-row {
        @include flex-box-row;
        @include unselectable-text;
        -webkit-justify-content: space-between;
        justify-content: space-between;

        div {
          @include transitions;
          padding: 7px 5px 5px;
          text-align: center;
          
          &.delete-note { padding-left: 7px; }
          &.vote { padding-right: 7px; }
          &.votes { cursor: default; }

          &.delete-note, &.vote {
            color: $grey;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      &:nth-child(10n+1) { @include color-swap($color0); }
      &:nth-child(10n+2) { @include color-swap($color1); }
      &:nth-child(10n+3) { @include color-swap($color2); }
      &:nth-child(10n+4) { @include color-swap($color3); }
      &:nth-child(10n+5) { @include color-swap($color4); }
      &:nth-child(10n+6) { @include color-swap($color5); }
      &:nth-child(10n+7) { @include color-swap($color6); }
      &:nth-child(10n+8) { @include color-swap($color7); }
      &:nth-child(10n+9) { @include color-swap($color8); }
      &:nth-child(10n+10) { @include color-swap($color9); }
      
      .delete-column {
        @include condensed-text;
        @include transitions;
        padding: 5px;
        text-align: center;
        
        &:hover {
          background: red;
          color: darken(red, 30%);
        }
      }
    }
  }
}