@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }

    @-moz-keyframes $animation_name {
        @content;
    }

    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@include keyframe(animationFrames){
  0% {
    left:0px;
    top:0px;
    opacity:0;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
  }
}

body { margin: 0; }

#retroboard {
  $color0: #FFAA6D;
  $color1: #E864E6;
  $color2: #6E99FF;
  $color3: #58E890;
  $color4: #FFF661;

  $color5: darken($color0, 30%);
  $color6: darken($color1, 30%);
  $color7: darken($color2, 30%);
  $color8: darken($color3, 30%);
  $color9: darken($color4, 30%);

  $grey: #dddddd;
  $main-text-color: #2d2d2d;
  $main-text-size: 0.75em;
  $main-text-font: 'Open Sans', sans-serif;
  $condensed-font: 'Open Sans Condensed', sans-serif;

  color: $main-text-color;
  font-family: $main-text-font;

  @mixin flex-box-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  @mixin transitions {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  @mixin condensed-text {
    font-family: $condensed-font;
    text-transform: uppercase;
  }

  @mixin unselectable-text {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
  }

  @mixin color-swap($color) {
    .column-header {
      border-bottom: 3px solid $color;
      margin-bottom: 20px;

      h1 {
        min-height: 43px;
      }

      input {
        @include condensed-text;
        font-size: 32px;
        width: 100%;
      }
    }


    .note-wrapper {
      @include animation(0, 0.7s, animationFrames);
      background: white;
      border: 2px solid $color;
      border-top: 15px solid $color;

      textarea.edit-content-input {
        border-bottom: 1px dotted $color;
      }

      .vote:hover {
        color: $color;
      }
    }

    .cancel-delete:hover {
      background: $color;
      color: darken($color, 30%);
    }
  }

  @mixin warning {
    background: red;
    color: darken(red, 30%);
  }

  input:focus, textarea:focus { outline: none; }

  #create-column {
    background: $main-text-color;

    input {
      border: 1px solid $grey;
      color: lighten($main-text-color, 20%);
      font-size: 1em;
      line-height: 1.35em;
      margin: 10px 4%;
      padding: 10px;
      width: 46%;
      @media all and (max-width: 800px) { width: 92%; } // Small Size Screens
    }

    .add-column { display: none; }
  }

  #columns {
    @include flex-box-row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 92%;

    .column {
      justify-content: space-around;

      margin: 1% 1% 50px 1%;
      width: 23%;

      @media all and (max-width: 1000px) { width: 31%; } // Medium Size Screens
      @media all and (max-width: 800px) { width: 48%; } // Small Size Screens
      @media all and (max-width: 500px) { width: 98%; } // Mobile

      h1 {
        @include condensed-text;
        margin-top: 0.25em;
        margin-bottom: 0;
      }

      .new-note-wrapper {
        margin-bottom: 10px;

        .add-note {
          @include transitions;
          @include condensed-text;
          @include unselectable-text;
          background: $grey;
          color: darken($grey, 20%);
          cursor: pointer;
          padding: 5px;
          text-align: center;
          &:hover { color: darken($grey, 40%); }
        }

        textarea.new-note {
          color: lighten($main-text-color, 20%);
          border: 2px solid $grey;
          font-family: $main-text-font;
          font-size: $main-text-size;
          height: 6em;
          line-height: 1.35em;
          margin: 0px;
          padding: 10px;
          resize: none;
          width: 100%;
        }
      }
      .notes {
        @include flex-box-row;
        -webkit-justify-content: space-between;
        justify-content: space-between;

        .note { width: 100%; }

        .note-wrapper {
          @include flex-box-row;

          margin: 0 2% 10px 0;
          &:nth-child(2n) { margin: 0 0 10px 2%; }
          &:nth-child(odd):last-child { margin: 0 0 10px 0; }

          width: 46%;

          white-space: pre-wrap;      /* CSS3 */
          white-space: -moz-pre-wrap; /* Firefox */
          white-space: -pre-wrap;     /* Opera <7 */
          white-space: -o-pre-wrap;   /* Opera 7 */
          word-wrap: break-word;      /* IE */

          .note-content {
            p {
              font-size: $main-text-size;
              margin: $main-text-size;
              min-height: 1em;
            }

            .edit-note-button {
              display: none;
            }
          }

          textarea.edit-content-input {
            border: none;
            color: $main-text-color;
            font-family: $main-text-font;
            font-size: $main-text-size;
            line-height: 1.45em;
            margin: $main-text-size;
            padding: 0;
            resize: none;
            width: 93%;
          }
        }

        .vote-delete-row {
          @include flex-box-row;
          @include unselectable-text;
          -webkit-align-self: flex-end;
          align-self: flex-end;

          font-size: $main-text-size;

          -webkit-justify-content: space-between;
          justify-content: space-between;

          width: 100%;

          div {
            @include transitions;
            padding-bottom: 3px;
            text-align: center;

            &.delete-note {
              padding-right: 5px;

              &:hover { color: red; }
            }

            &.vote { padding-left: 5px; }
            &.votes { cursor: default; }

            &.delete-note, &.vote {
              color: $grey;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }


      &:nth-child(10n+1) { @include color-swap($color0); }
      &:nth-child(10n+2) { @include color-swap($color1); }
      &:nth-child(10n+3) { @include color-swap($color2); }
      &:nth-child(10n+4) { @include color-swap($color3); }
      &:nth-child(10n+5) { @include color-swap($color4); }
      &:nth-child(10n+6) { @include color-swap($color5); }
      &:nth-child(10n+7) { @include color-swap($color6); }
      &:nth-child(10n+8) { @include color-swap($color7); }
      &:nth-child(10n+9) { @include color-swap($color8); }
      &:nth-child(10n+10) { @include color-swap($color9); }

      .delete-column {
        cursor: pointer;
        @include unselectable-text;
        @include condensed-text;
        @include transitions;
        background: $grey;
        color: darken($grey, 20%);
        padding: 5px;
        text-align: center;

        &:hover {
          @include warning;
        }
      }

      .are-you-sure {
        @include flex-box-row;
        -webkit-justify-content: space-between;
        justify-content: space-between;

        padding: 5px;
        text-align: center;

        span, .confirm-delete, .cancel-delete {
          @include condensed-text;
          @include transitions;
          margin: 0 5px;

          -webkit-flex-grow: 1;
          flex-grow: 1;
        }

        .confirm-delete, .cancel-delete {
          cursor: pointer;
          @include unselectable-text;
          background: $grey;
          color: darken($grey, 20%);
        }

        .confirm-delete:hover {
          @include warning;
        }
      }
    }
  }
}

#login-signup {
  margin: 10px;
  input {
    display: block;
  }
}
